<template>

  <div class="max-w-full md:max-w-3xl p-6 mx-auto bg-white-100 rounded-lg shadow-md">
    <input v-model="searchQuery"
           placeholder="Search..."
           class="w-full mb-4 p-2 border rounded focus:outline-none"/>
    <div class="flex justify-between mb-4">
      <label>
        <input type="radio" value="" v-model="filterStatus" class="ml-2"/> All
      </label>
      <label>
        <input type="radio" value="todo" v-model="filterStatus" class="ml-2"/> To Do
      </label>
      <label>
        <input type="radio" value="in-progress" v-model="filterStatus" class="ml-2"/> In Progress
      </label>
      <label>
        <input type="radio" value="done" v-model="filterStatus" class="ml-2"/> Done
      </label>
    </div>


    <div
        class="md:mt-2 mb-10 bg-white-100 rounded-2xl mt-10 p-1 md:p-3 border border-white-300">

      <div class="flex flex-col w-full">

        <section>
          <div class="w-full rounded-2xl border border-white-100">
            <div class="w-full md:overflow-x-hidden overflow-x-auto">

              <div v-if="filteredTodos?.length > 0">
                <table class="w-full md:table">
                  <thead>
                  <tr class="text-md text-left text-white-200">
                    <th v-for="(header,i) in headers"
                        :key="i"
                        class="px-4 py-3 text-center text-[#9E9E9E] text-xs">{{ header }}
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(item,index) in filteredTodos"
                      :key="index"
                      class="text-gray-700 border border-white-300 last:border-none rounded"
                      :class="getStatusColor(item)">
                    <td class="px-4 py-3 text-center">
                      <p class="text-xs text-black-200">{{ item.id }}</p>
                    </td>
                    <td class="px-4 py-3 text-center">
                      <p class="text-xs text-black-200">{{ item.title }}</p>
                    </td>
                    <td class="px-4 py-3 text-center">
                      <p class="text-xs text-black-200">{{ item.status }}</p>
                    </td>

                    <td class="px-4 py-3 text-center">
                      <div class="flex items-center">

                        <component :is="ButtonComponent"
                                   type="button"
                                   text="Edit"
                                   txt-color="text-blue-500"
                                   custom-style="mr-2 w-full text-center border border-blue-500 flex items-center px-6 py-2 text-xs rounded-md"
                                   @click="todoStore.openModifyModal(item)"></component>
                        <component :is="ButtonComponent"
                                   type="button"
                                   text="Delete"
                                   txt-color="text-white-100"
                                   custom-style="w-full text-center bg-danger-200 flex items-center px-6 py-2 text-xs rounded-md"
                                   @click="remove(item.id)"></component>

                      </div>
                    </td>
                  </tr>
                  </tbody>

                </table>
              </div>


              <div v-else
                   class="w-full flex flex-col justify-center items-center">
                <p class="my-20 w-full text-sm text-black-200 text-center flex justify-center items-center">
                  No Task is Created
                </p>
              </div>
            </div>
          </div>
        </section>


      </div>
    </div>


  </div>
</template>

<script setup>
import {ref, computed} from 'vue'
import {useTodoStore} from '@/store/index.js'
import ButtonComponent from "@/components/base/ButtonComponent.vue";

const todoStore = useTodoStore()
const searchQuery = ref('')
const filterStatus = ref('')

const headers = ref([
  'ID',
  'Title',
  'Status',
  'Actions',
])


const getStatusColor = (item) => {
  if (item.status === 'todo') {
    return 'bg-information-100';
  } else if (item.status === 'in-progress') {
    return 'bg-warning-100';
  } else {
    return 'bg-primary-800';
  }
}

const filteredTodos = computed(() => {
  return todoStore.filterTodos(filterStatus.value).filter(todo => todo.title.includes(searchQuery.value))
})
const remove = (id) => {
  todoStore.deleteTodo(id)
}
</script>