<template>


  <component :is="ModalComponent"
             :show-modal="todoStore.getCreateModalVisible"
             @closeModal="todoStore.closeCreateModal()"
             modal-width="w-full md:w-[40rem]"
             modal-rounded="md:rounded-2xl rounded-t-2xl"
             :has-close-btn="true"
             header-style="md:bg-primary-600"
             dynamic-modal-wrapper-style="items-end md:items-center">


    <template v-slot:header>
      <div>
        <h3>{{ todoStore.getModalTitle }}</h3>
      </div>
    </template>

    <template v-slot:body>
      <div class="max-w-lg mx-auto rounded-lg">
        <form>
          <input v-model="todo.title"
                 placeholder="Task Title"
                 class="w-full mb-4 p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"/>
          <select v-model="todo.status"
                  class="w-full mb-4 p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
            <option v-for="(status,index) in statuses"
                    :key="index"
                    :value="status.value">
              {{ status.label }}
            </option>
          </select>

          <component :is="ButtonComponent"
                     type="button"
                     text="Submit"
                     txt-color="text-white-100"
                     @click="submit"
                     custom-style="w-full p-2 bg-primary-200 text-white rounded"></component>

        </form>
      </div>
    </template>
  </component>


</template>

<script setup>
import {ref, defineProps, watchEffect} from 'vue'
import {useTodoStore} from '@/store/index.js'
import ModalComponent from '@/components/base/ModalComponent.vue'
import ButtonComponent from "@/components/base/ButtonComponent.vue";

const todoStore = useTodoStore()
const todo = ref({title: '', status: 'todo'})

const statuses = ref([
  {
    label: 'To Do',
    value: 'todo'
  }, {
    label: 'In Progress',
    value: 'in-progress'
  }, {
    label: 'Done',
    value: 'done'
  },
])

const props = defineProps({
  editTodo: Object,
})

watchEffect(() => {
  if (props.editTodo) {
    todo.value = {...props.editTodo}
  } else {
    todo.value = {
      title: '',
      status: 'todo'
    }
  }
})

const submit = () => {
  if (props.editTodo) {
    todoStore.editTodo(todo.value.id, {title: todo.value.title, status: todo.value.status})
  } else {
    todoStore.addTodo({
      id: Date.now(),
      ...todo.value
    })
  }

  todo.value = {title: '', status: 'todo'}
  todoStore.closeCreateModal()
}
</script>