<template>
  <div class="px-5 min-h-screen bg-gray-100 flex flex-col items-center">
    <h1 class="text-3xl font-bold text-gray-800 mt-10 mb-6">Todo List</h1>
    <TodoForm :editTodo="todoStore.getEditTodoObj"/>
    <div class="w-full flex flex-col items-center justify-center">
      <div class="mb-4 w-full flex justify-center">
        <component :is="ButtonComponent"
                   type="button"
                   text="Create Todo"
                   txt-color="text-white-100"
                   custom-style="md:w-[300px] w-full text-center bg-primary-200 flex items-center px-6 py-2 text-xs rounded-md"
                   @click="todoStore.openModifyModal()"></component>
      </div>
      <TodoList/>
    </div>
  </div>
</template>

<script setup>
import TodoForm from './components/TodoForm.vue'
import TodoList from './components/TodoList.vue'
import {useTodoStore} from "@/store";
import ButtonComponent from '@/components/base/ButtonComponent.vue'

const todoStore = useTodoStore()
</script>